/* custom css */
body {
    font-size: 14px;
}

.scroll-x {
    overflow-x: auto;
    width: 100%;
}

.bg-super-dark {
    background: #222d32;
}

input.form-control {
    font-size: 14px;
}

select.custom-select {
    font-size: 14px;
}

textarea.form-control {
    font-size: 14px;
}

.nav-item.active-link .nav-link {
    background: rgba(0, 0, 0, 0.267);
    border-left: 3px solid var(--primary);
}

.jumbotron.bg-perpus {
    background: url(../images/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.jumbotron.bg-perpus::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.295), rgb(0, 0, 0));
}